@{
    ViewData["Title"] = $"Удалить {@Model.Title}";
}

@model FilmsCatalog.Models.DeleteFilmViewModel

<div>
     <div class="mb-3">
        <h3>Вы уверены, что хотите удалить @Model.Title</h3>
    </div>
    <div class="form row">
        <div class="col-auto">
            <form  asp-action="Index" asp-controller="Film" asp-route-id="@Model.FilmId" method="get">
                    <button class="btn btn-success">Нет</button>
            </form>
        </div>
        <div class="col-auto">
            <form asp-controller="Film" asp-action="Delete" method="post">
                <input type="hidden" asp-for="FilmId"/>
                <input type="hidden" asp-for="CreatorId"/>
                    <button type="submit" class="btn btn-danger">Да</button>
            </form>
        </div>
    </div>
</div>
